<%- include('./partials/header') %>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="Title" name="postTitle" required>
    </div>
    <div class="form-group">
      <label >Post</label>
      <textarea class="form-control" placeholder="Type anything" rows="5" name="postBody" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>
<%- include('./partials/footer') %>
